<footer>
    <div class="container">
            <div class="row">
                    <div class="col-12 col-md">
                      <small class="d-block mb-3 text-muted">Rizky Syaiful © 2019<br>(untuk konsep website & Tiga Pilar Agile)</small>
                      <small class="d-block mb-3 text-muted">Untuk konten praktik-praktik&mdash;kecuali disebutkan lain&mdash;semua berlisensi Creative Common.</small>
                      <small class="d-block mb-3 text-muted">
                        Website dibuat secara open source: <a href="https://github.com/3pillarsofagile/3pillarsOfAgile.github.io/">github.com/3pillarsofagile/3pillarsOfAgile.github.io/</a>
                      </small>
                      <small class="d-block mb-3 text-muted">Dibuat dan disebarkan untuk memperbaiki kondisi bumi & umat manusia&mdash;lewat memperbaiki kondisi software-software-nya.</small>
                      
                    </div>
                    <div class="col-6 col-md">
                      <h5>Navigasi</h5>
                      <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="{{site.url}}">Penjelasan Dasar</a></li>
                        <li><a class="text-muted" href="/1-fast">Pilar 1</a></li>
                        <li><a class="text-muted" href="/2-flexible">Pilar 2</a></li>
                        <li><a class="text-muted" href="/3-enduring">Pilar 3</a></li>
                        <li><a class="text-muted" href="/workshop">Pencarian Kelas Gratis</a></li>
                        <!--<li><a class="text-muted" href="#">Cara Berkontribusi</a></li>-->
                      </ul>
                    </div>
                    <div class="col-6 col-md">
                      <h5>Tim Redaksi</h5>
                      <ul class="list-unstyled text-small">
                        <li>Non-tech chief editor: Rizky Syaiful</li>
                        <li>Tech chief editor: Mufid Afif</li>
                      </ul>  
                    </div>
                    <div class="col-6 col-md">
                      <h5>Tidak Ingin Ketinggalan?</h5>
                      <small class="text-small text-muted">
                        Jika ada konten atau kelas gratis baru, kami akan beritahukan via channel Telegram <a href="https://t.me/Berita_3PA">t.me/Berita_3PA</a> atau grup <a href="https://t.me/kelasGratis3PA">t.me/kelasGratis3PA</a> (untuk yang suka grup diskusi). Belum punya Telegram? Segera install, <a href="https://www.quora.com/Is-Telegram-messenger-better-than-WhatsApp-messenger/answers/12717773">dia software yang jauh lebih baik dari Whatsapp</a>.
                      </small>
                    </div>
                  </div>
    </div>
</footer>

<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/popper/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script>
  $(function () {

    // highlight halaman di menubar
    $('a.nav-link[href="{{ site.url }}{{ page.url }}"]').parent().addClass("active");
    
    // mengaktifkan tooltip
    $('[data-toggle="tooltip"]').tooltip();

  })
</script>