<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{site.url}}">Tiga Pilar Agile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/1-fast">Pilar 1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/2-flexible">Pilar 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/3-enduring">Pilar 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/user-guide">Panduan Penggunaan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/workshop">Workshop (Gratis!)</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
