<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{site.url}}">Tiga Pilar Agile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/1-fast">Pilar 1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/2-flexible">Pilar 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/3-enduring">Pilar 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/user-guide">Panduan Penggunaan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/workshop">Kelas Gratis</a>
        </li>
        <!--
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Checklist Framework
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{site.url}}/framework-checklist/scrum">Scrum</a>
            </div>
          </li>
          -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://my3pa.netlify.com/">Software "my3pa"</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
