<div class="image-wrapper" >
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{include.code}}"></iframe>
    <iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/{{include.code}}?autoplay=0&origin=https://3pillarsofagile.github.io/"
  frameborder="0"></iframe>
  </div>
  {% if include.caption %}
    <p class="image-caption">{{ include.caption }}</p>
  {% endif %}
</div>
