---
---

@import "bootstrap/bootstrap";

a:visited{
  color: #0056b3;
}
a.badge:visited{
  color: white;
}
[data-toggle="tooltip"]{
  border-bottom: 2px dashed #999;
  text-decoration: none; 
}

.navbar{
     margin-bottom: 2em;
}

/*
* landing page
*/
.landing{
  hr{
    margin: 3em 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }
  .block{
    font-size: 1.15em;
    text-align: center;
    h2{
      font-size: 2.1em;
    }
    .sub-heading{
      font-size: 1.8em;
      color: gray;
    }
    .closing-heading{
      font-size: 1.5em;
      color: gray;
    }
  }
  .col-md-4{
    margin-bottom: 1.5em;
  }
}

footer{
  background-color: #eaeaea;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 4.5em;
  margin-bottom: 2em;
}

/*
 * Blockquote on a post
 */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1rem 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  footer{
    padding: 0;
    text-align: left;
  }
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.image-wrapper{
    margin-bottom: 1rem;
    img{
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .image-caption{
      text-align: center;
      color: grey;
      font-size: 0.9em;
    }
  }

  /*
  * Eventbox
  */

.event-box{
  background-color: #d1e3ff;
  padding: 0.7em 1em;
  margin-top: 1em;
  min-height: 127px;
  

  h4{
      margin-bottom: 5px;
  }

  img.trainer{
      width: 70px;
      margin-right: 10px;
  }

  a.btn {
      color: white;
  }
}

.practice-list{
  h5{
    margin-bottom: 0;
  }
}

.footnotes{
  font-size: 0.9rem;
  background-color: #eaeaea;
  padding-top: 1rem;
  padding-bottom: 1px;
}

.subscribe-box{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#343a40;
  color: white;
  text-align: center;
}

/** helper */

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

}
