---
permalink: "1-fast"
layout: default
---

{% include first-time-alert.html %}

<div class="text-center mb-4">
    <img src="/assets/image/agile-is-fast-big.jpeg" class="img-fluid" style="max-width: 300px;" alt="">
    <h2 style="text-align: center;margin-bottom: 1em;">Praktik-Praktik Pilar 1:<br>
    Rilis Secepat-cepatnya & Sesering-seringnya</h2>
</div>

<div class="row">
    <div class="col-md-6" style="font-size: 1.15em">
        <img src="/assets/image/pilar-1-agile.jpeg" class="img-fluid img-thumbnail mb-3" alt="3 Pilar Agile">
        <h4>Penjelasan Singkat</h4>
        <blockquote class="blockquote">
            <p class="mb-0">
                <em>Cepat belum tentu tangkas, tapi lambat sudah pasti tidak tangkas.</em>
            </p>
        </blockquote>
        <p>
            <em>Apakah 'rilis' berarti harus 'update software' ke semua pengguna?</em> Tentu tidak. Bisa ke beberapa (beta-release)&mdash;jika dirasa pendapat mereka sudah mewakili seluruh pengguna. Karena tujuan akhir Pilar 1 adalah dapat pendapat jujur pengguna secepat-cepatnya sebelum tidak lagi relevan.
        </p>
        <p>
            <em>Apakah 'secepat-cepatnya' & 'sesering-seringnya' itu berarti rilis setiap 3 jam?</em> Bagus jika bisa, namun tidak harus. Kadang, kondisi & perhitungan bisnis mengharuskan rilis dalam hitungan bulan. Jika itu sudah dinilai yang paling cepat (baca: <a href="{{site.url}}/mvp">MVP</a>), maka Pilar 1 sudah tegak.
        </p>
            Dari hulu ke hilir, berikut yang harus selalu dipercepat, sembari dimaksimalkan kualitas eksekusinya:
        <ol>
            <li> Pengumpulan & kompilasi data keluhan pengguna. </li>
            <li> Pengumpulan & kompilasi data ide-ide dari internal. </li>
            <li> Ideasi & pengambilan keputusan atas fitur apa saja yang akan dikembangkan dalam waktu dekat. </li>
            <li> Pendetailan spesifikasi fitur. </li>
            <li> Pembuatan & pengujian fitur. </li>
            <li> Perilisan fitur. (Lalu kembali lagi ke atas). </li>
        </ol>
        <p>
            Biasa disebut dengan istilah 'Flow of Value'.
        </p>
    </div>
    <div class="col-md-6">
        {% assign practices = site.practices | where: "categories", "first-pillar" %}
        <div>
            {% assign t_practices = practices | where: "is_boosting_transparency", true %} 
            {% if t_practices %}
                <h4>Praktik-Praktik Transparansi Organisasi</h4>
                <ul class="list-group practice-list">             
                    {% include practice_looper.html looped = t_practices %}
                </ul>
            {% endif %}
        </div>
        <div class="mt-4">
            {% assign mvp_practices = practices | where_exp : "item", "item.permalink == 'mvp'" %}
            {% if mvp_practices %}
                <h4>Praktik MVP</h4>
                <ul class="list-group practice-list">             
                    {% include practice_looper.html looped = mvp_practices %}
                </ul>
            {% endif %}
        </div>
        <div class="mt-4">
            {% assign nt_practices = practices | where: "is_boosting_transparency", false %}
            {% assign nt_nonmvp_practices = nt_practices | where_exp : "item", "item.permalink != 'mvp'" %} 
            {% if nt_nonmvp_practices %}
                <h4>Praktik-Praktik Kompetensi</h4>
                <ul class="list-group practice-list">             
                    {% include practice_looper.html looped = nt_nonmvp_practices %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <hr>
        <h4>Ada Praktik Pilar 1 yang Perlu Ditambahkan/Dikurangi?</h4>
        <p class="dont-break-out">
            Usulan anda bisa terekam di riwayat perubahan halaman ini <a href="https://github.com/3pillarsofagile/3pillarsOfAgile.github.io/commits/master/{{page.path}}">github.com/3pillarsofagile/3pillarsOfAgile.github.io/commits/master/{{page.path}}</a>
        </p>
        {% assign full-url = site.url | append: page.url %}
        {% include disqus-comment.html 
            site-url-page-url = full-url
            page-permalink = page.permalink %}
    </div>
</div>