---
permalink: "2-flexible"
layout: default
---

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Baru berkunjung?</strong> Pastikan sudah membaca <a href="/user-guide">panduan penggunaan Tiga Pilar Agile</a>.
</div>

<div class="row">
    <div class="col-md-6" style="font-size: 1.15em">
        <img src="/assets/image/pilar-2-agile.jpeg" class="img-fluid img-thumbnail" alt="3 Pilar Agile">
        <blockquote class="blockquote">
            <p class="mb-0">
                <em>Anda bisa saja sudah sering rilis, tapi itu akan sia-sia jika yang sering dirilis itu keren-hanya-menurut-bos.</em>
            </p>
        </blockquote>
        <blockquote class="blockquote">
            <p class="mb-0">
                <em>Produk yang baik hanya muncul dari proses kerja yang baik. Maka, proses kerja wajib terus diperbaiki.</em>
            </p>
        </blockquote>
        <p>
            Build-Measure-Learn adalah siklus perbaikan yang bardasarkan data nyata dari lapangan. Dipopulerkan oleh Eric Reis lewat buku Lean Startup. Bukunya mengajarkan bahwa keunggulan sebuah startup sukses atas perusahaan besar yang dia kalahkan, adalah siklus Build-Measure-Learn-nya yang jauh lebih singkat. Kita tahu, kebanyakan perusahaan konvensional memonitor dan mengevaluasi rencana besarnya dalam jangka waktu tahunan. Sementara startup, bisa merubah haluan&mdash;untuk merespon pasar atau menangkap peluang&mdash;dalam jangka waktu satu minggu. 
        </p>
        <p>
            Di penjelasan di atas, perbaikan baru hanya pada produk yang dibeli pengguna. Padahal demi perbaikan produk, proses kerja juga harus tangkas diperbaiki. Siklus singkat Build-Measure-Learn juga bisa dilakukan ke tim dan organisasi. Pandangan seluruh anggota (pekerja, manajer, direktur) perlu rutin didengar, guna menghasilkan rencana perbaikan yang akurat.
        </p>
    </div>
    <div class="col-md-6">
        <div style="text-align: center;">
            <img src="/assets/image/agile-is-flexible-big.jpeg" class="img-fluid" style="max-width: 300px;" alt="">
            <h2 style="text-align: center;margin-bottom: 1em;">Praktik-Praktik Pilar 2: Build-Measure-Learn pada Produk & Proses Kerja</h2>
        </div>
        {% assign practices = site.practices | where: "categories", "second-pillar" %}
        <div>
            {% assign t_practices = practices | where: "is_boosting_transparency", true %} 
            {% if t_practices %}
                <h4>Praktik-Praktik Transparansi</h4>
                <ul class="list-group practice-list">             
                    {% include practice_looper.html looped = t_practices %}
                </ul>
            {% endif %}
        </div>
        <div style="margin-top: 2em;">
            {% assign nt_practices = practices | where: "is_boosting_transparency", false %} 
            {% if nt_practices %}
                <h4>Praktik-Praktik Kompetensi</h4>
                <ul class="list-group practice-list">             
                    {% include practice_looper.html looped = nt_practices %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <hr>
        <h4>Ada Praktik Pilar 2 yang Perlu Ditambahkan/Dikurangi?</h4>
        <p>
            Usulan anda bisa terekam di riwayat perubahan halaman ini <a href="https://github.com/3pillarsofagile/3pillarsOfAgile.github.io/commits/master/{{page.path}}">github.com/3pillarsofagile/3pillarsOfAgile.github.io/commits/master/{{page.path}}</a>
        </p>
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
            this.page.url = "{{site.url}}{{page.url}}"; 
            this.page.identifier = "{{page.permalink}}";
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://3pillarsofagile-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>