---
permalink: "3-enduring"
layout: default
title: "Pilar 3: Haramkan <em>Burnout</em> & Hutang Teknis"
excerpt: "Pilar 1 & Pilar 2 secara langsung menguntungkan bisnis. Jika berhenti di sana, pengembangan akan penuh stres & melambat pelan-pelan. Untuk itu, ada Pilar 3."
og-image: "agile-is-enduring-big.jpeg"
---

{% include first-time-alert.html %}

<div class="text-center mb-4">
    <img src="/assets/image/agile-is-enduring-big.jpeg" class="img-fluid" style="max-width: 300px;" alt="">
    <h2 style="text-align: center;">{{page.title}}</h2>
</div>

<div class="row">
    <div class="col-md-6" style="font-size: 1.15em">
        <img src="/assets/image/pilar-3-agile.jpeg" class="img-fluid img-thumbnail mb-3" alt="3 Pilar Agile">
        <h4>Penjelasan Singkat</h4>
        <blockquote class="blockquote">
            <p class="mb-0">
                <em>Semua binatang yang tangkas, pasti punya kaki & tangan yang kuat, juga paru-paru besi. Yang tidak punya akan terjatuh atau melambat kelelahan, lalu dimangsa binatang lain.</em>
            </p>
        </blockquote>
        <p>
            Pilar 1 & Pilar 2 secara langsung menguntungkan bisnis&mdash;rilis cepat sesuai kebutuhan pengguna. Itu bagus. Tapi, jika hanya mengacu pada dua pilar itu akibatnya: 1) kualitas dan kerapihan internal bisa dikorbankan, dan 2) developer bisa ditekan untuk lembur. Hasilnya: 1) banyak bug, 2) pengerjaan produk di masa depan jadi terhambat, dan 3) pekerja bisa jatuh sakit karena lembur (alias <em>burnout</em>) lalu banyak yang keluar.
        </p>
        <p>
            Maka dari itu, Pilar 3 diciptakan. Justru agar menjaga Pilar 1 & Pilar 2 bisa terus tegak berdiri di masa depan, menciptakan manfaat untuk pengguna semaksimal-maksimalnya.
        </p>
    </div>
    <div class="col-md-6">
        {% assign practices = site.practices | where: "categories", "third-pillar" %}
        <div>
            {% assign t_practices = practices | where: "is_boosting_transparency", true %} 
            {% if t_practices %}
                <h4>Praktik-Praktik Transparansi Organisasi</h4>
                <ul class="list-group practice-list">             
                    {% include practice_looper.html looped = t_practices %}
                </ul>
            {% endif %}
        </div>
        <div class="mt-4">
            {% assign nt_practices = practices | where: "is_boosting_transparency", false %}
            {% assign nt_nonmvp_practices = nt_practices | where_exp : "item", "item.permalink != 'mvp'" %} 
            {% if nt_nonmvp_practices %}
                <h4>Praktik-Praktik Kompetensi</h4>
                <ul class="list-group practice-list">             
                    {% include practice_looper.html looped = nt_nonmvp_practices %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <hr>
        <h4>Ada Praktik Pilar 3 yang Perlu Ditambahkan/Dikurangi?</h4>
        <p class="dont-break-out">
            Usulan anda bisa terekam di riwayat perubahan halaman ini <a href="https://github.com/3pillarsofagile/3pillarsOfAgile.github.io/commits/master/{{page.path}}">github.com/3pillarsofagile/3pillarsOfAgile.github.io/commits/master/{{page.path}}</a>
        </p>
        {% include comment-box.html %}
    </div>
</div>