---
layout: post
permalink: "framework-checklist/scrum"
title: Checklist Scrum
excerpt: "Tiga Pilar Agile membantu Anda memahami 'THE WHY' dari praktik-praktik di bingkai kerja Anda &mdash; lewat dampaknya pada ketiga pilar."
---

<p>
    Tiga Pilar Agile membantu Anda memahami 'THE WHY' dari praktik-praktik di bingkai kerja Anda &mdash; lewat dampaknya pada ketiga pilar.
</p>

<p>
    Berikut pratik-praktik yang ada di Scrum:
</p>

{% assign practices = site.practices | where: "checklist", "scrum" %}
<div>
    {% if practices %}
        <ul class="list-group practice-list">             
            {% include practice_looper.html looped = practices %}
        </ul>
    {% endif %}
</div>

<p class="mt-3">
    Apakah Anda sudah memahami & menerapkan Scrum sesuai Scrum Guide?
</p>

<hr>
<h4 class="mt-4">Apa Saja Praktik-Praktik yang Susah Diterapkan? Ada Kisah Menarik?</h4>

{% include comment-box.html %}

