---
permalink: "workshop"
layout: default
---

<div class="row">
    <div class="col-md-6 mb-4">
        <img src="/assets/image/mufid-workshop.jpg" class="img-fluid img-thumbnail" alt="3 Pilar Agile">
    </div>
    <div class="col-md-6" style="font-size: 1.15em">
        <h2>Kelas Gratis</h2>
        <p>
            <em>Kenapa gratis?</em> 
        </p>
        <ul>
            <li>Karena kami ingin <strong>Tiga Pilar Agile</strong> tersebar seluas mungkin.</li>
            <li>Karena materinya ringan; maksimum sesinya 2 jam.</li>
        </ul>
        <p>
            <em>Bagaimana dengan kualitas?</em> Jangan khawatir. Meski gratis, kualitas materi & penyampaiannya dijaga oleh trainer profesional.
        </p>
        <p>
            Perlu dicatat: karena gratis, pemilik <em>venue</em> bisa mewajibkan pembelian makanan atau melakukan sesi promosi (maks. 5 menit). Di akhir kelas, ada kesempatan memberikan donasi bebas ke pemateri. Jangan kasih 1 Rupiah-pun kalau dirasa tidak berkualitas & bermanfaat. ;)
        </p>
        <p>
            Minat <span data-toggle="tooltip" data-placement="top" title="Apa untungnya? 1. Latihan komunikasi; 2. Menambah kontribusi ke komunitas; 3. &quot;Asyik bisa dapat uang jajan 😋!&quot; &mdash; kalau peserta suka.">jadi pemateri</span></span>? Atau <span data-toggle="tooltip" data-placement="top" title="Apa untungnya? 1. Meramaikan tempat; 2. Promosi rekrutmen atau produk; 3. &quot;Asyik jajanan jadi laris 🤑!&quot; &mdash; misal tempatnya jual jajanan">fasilitasi <em>venue</em></span>? Hubungi Telegram <a href="https://t.me/RizkySyaiful">t.me/RizkySyaiful</a>. Butuh ada kelas dengan topik tertentu di tanggal tertentu? Ajukan di grup <a href="https://t.me/kelasGratis3PA">t.me/kelasGratis3PA</a>.
        </p>
    </div>
</div>

<hr style="margin: 3em 0; border-top: 1px solid rgba(0, 0, 0, 0.25);">

<h1 style="text-align: center;margin-bottom: 1em;">Kelas Gratis Siap Daftar</h1>

<div class="row">
    <div class="col-md-6">
        {% assign workshops = site.workshops | where: "workshop", "tiga-pilar-agile" %}
            
        {% if workshops.size > 0 %}

            <hr>

            <h3 style="text-align: center; margin-bottom:15px;">Tiga Pilar Agile</h3>

            <p>
                Setelah mengikuti kelas ini, teman-teman akan memahami praktik-praktik terpenting di Scrum, Kanban, dan XP; dan kesamaan mereka semua (baca: Tiga Pilar Agile). Ini adalah pengetahuan penting jika ingin punya budaya kerja yang lebih tangkas!
            </p>

            {% include workshop_looper.html looped=workshops %}

        {% endif %}

        {% assign workshops = site.workshops | where: "workshop", "pengenalan-agile-ke-organisasi" %}
            
        {% if workshops.size > 0 %}

            <hr>

            <h3 style="text-align: center; margin-bottom:15px;">Penyelarasan Pemahaman Agile di Organisasi</h3>

            <p>
                Setelah mengikuti kelas ini, teman-teman akan PD menjelaskan apa itu Agile ke semua pihak di organisasi: pemilik, pimpinan, manajer, eksekutor. Dengan begitu, satu organisasi bisa memiliki pemahaman yang sama & bergerak bersama. 
            </p>

            Silabus:
            <ol>
                <li>Pemetaan Kepentingan Anggota Organisasi</li>
                <li>Game Simulasi Agile</li>
                <li>Analogi Kapal</li>
                <li>Definisi Agile & Sejarahnya</li>
            </ol>

            Kelas yang tersedia:
            {% include workshop_looper.html looped=workshops %}

        {% endif %}
    </div>
    <div class="col-md-6">
            {% assign workshops = site.workshops | where: "workshop", "cypress-dasar" %}

            {% if workshops.size > 0 %}

            <hr>

            <h3 style="text-align: center; margin-bottom:15px;">Pengenalan Automated E2E Testing dengan Cypress</h3>

            <p>
                Setelah mengikuti kelas ini, peserta jadi bisa memulai membuat/menjalankan skrip otomasi tes dengan Cypress (salah satu yang terbaik saat ini), mengubah kode HTML agar tes lebih mudah diotomasi, & menyusun strategi otomasi tes software. Demi software yang tanpa bug!
            </p>

            {% include workshop_looper.html looped=workshops %}
        
        {% endif %}
    </div>
</div>

